body {
  background: #e4e9ee; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:focus {
    text-decoration: none;
    color: inherit; }

.hidden {
  display: none !important; }

.main-page {
  display: flex;
  width: 100%; }

.main-page__sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #5c6d78;
  color: #fff;
  transition: all 0.3s; }
  .main-page__sidebar.active {
    margin-left: -250px; }

.main-logo {
  display: block;
  position: relative;
  background: #fff;
  width: 100%;
  height: 160px;
  margin: 0 0 40px 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: 888; }
  .main-logo img {
    padding: 20px; }

.main-head__close {
  display: none; }

.list, .list-sub {
  list-style: none;
  padding: 0px; }

.list__item {
  padding: 0 68px; }

.list__item:first-child .list__link {
  border-top: 1px solid #fff; }

.list__link {
  padding: 10px 0;
  font-size: 1.1em;
  display: block;
  font-weight: 300;
  border-bottom: 1px solid #fff; }
  .list__link:hover {
    color: #b3b5b7; }

.list__link_sub {
  font-size: 10px;
  padding: 10px 0 0;
  border: 0 !important; }

.list__link_active {
  color: #b3b5b7; }

.main-page__content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0; }
  .main-page__content.active {
    width: 100%; }

.main-navbar {
  position: absolute;
  padding: 0 75px 0 0;
  background: #5c6d78;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
  display: none; }

.main-navbar__logo {
  display: none; }

.main-navbar__burger {
  background: none;
  border: none;
  margin: 20px 0 0 20px; }
  .main-navbar__burger i {
    color: #fff;
    font-size: 28px; }

.main-homeimage {
  position: relative; }

.more-homeimage__link {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center; }

.homeimage__link {
  display: inline-block;
  padding: 9px 45px;
  font-size: 13px;
  background: #676666;
  color: #b3b5b7 !important;
  transition: all 0.3s; }
  .homeimage__link:hover {
    opacity: 0.9; }

.main-container__hometext {
  padding: 45px 0; }
  .main-container__hometext p {
    font-size: 14px; }

.main-title {
  font-size: 21px;
  font-weight: 400; }

.main-product {
  margin-bottom: 20px; }

.card-more {
  text-align: right; }

.card-img-top {
  height: 253px;
  background-size: cover !important;
  background-position: center !important; }
